html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(69, 69, 185);
}

/*
Please don't modify this element
*/
.main-flex-container{
    display: flex;
    max-width: 2000px;
    height: auto;
    margin-top: 20%;
    margin: 0 auto;
    flex-direction: column;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*
Please don't modify this element
*/
.main-flex-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.flex-item{
    padding: 15px;
    border: 5px solid #adecbf;
    border-radius: 15px; 
    margin: 77px 0 100px;
    color: black;
    width: 815px;
}

.flex-item2{
    padding: 25px;
    border: 5px solid #adecbf;
    border-radius: 15px;
    color: black;
}

.navbar{
    background-color: #5e68f7;
    height: 80px;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 2;
    top:0px;
}

.nav-list{
    list-style-type: none;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 38px;
}

.nav-list .list-item{
    display: inline-block;
    width: 15vw;
    padding: 20px .5vw;
    margin: 0 1px 0 1px;
    text-align: center;
    align-items: center;
}

.navbar a{
    position: relative;
    color:black;
    text-decoration: none;
    padding: 20px 3vw;
}

.navbar a:hover{
    border-radius: 20px 20px 0 0;
    background-color: rgb(58, 28, 254);
    transition: all ease-in-out 500ms;
}
.navbar a:visited{
    border-radius: 20px 20px 0 0;
    background-color: rgb(58, 28, 254);
}




/*
The Id Contnent_header will set whatever the Id associated with
into a rectangle with curved edges.
Sould be places before main content
*/
.content-header{
    position: absolute;
    border: 5px solid black;
    border-radius: 30px;
    background-color: white;
    Width: 40vw;
    height: 130px;
    margin-top: -80px;
    font-size: 20px;
    right: 33%;
} 

.body-content{
    border: 5px solid black;
    border-radius: 20px;
    width: 50vw;
    height: auto;
    background-color: #c3bfff;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

.content-spacing{
    margin: 5% 0% 5% 0%;
}
#diegoimg{
    height: 150px;
    width: 110px;
    border: 5px solid black;
    border-radius: 15px;
    float: left;
    margin-right: 20px;
}

#ethanimg{
    height: 150px;
    width: 110px;
    border: 5px solid black;
    border-radius: 15px;
    float: right;
    margin-left: 20px;
    margin-top: 60px;
}

/*
This class is used to help test box alignment and size
*/
.test-box{
    background-color: red;
}

.lesson-selection{

    position: sticky;
    top:200px;
    border: 5px solid black;
    border-radius: 20px;
    width: 5%;
    height: auto;
    background-color: #ffffff;
    padding: 50px 50px 50px 50px;
    flex-direction: column;
    z-index: 2;
    right: 130%;
}

.lesson-selection a{
    padding: 4% 0% 4% 0%;
    text-decoration: none;
    font-size: 25px;
}

.body-content img{
    position: relative;
    width: 80%;
    height: auto;
    float: right;
    margin: 3% 0% 3% 0%;
}

.lesson-unit{
    position: absolute;
    border: 10px solid black;
    border-radius: 30px;
    background-color: white;
    Width: 50vw;
    height: auto;
    top: 200px;
    font-size: 100px;
    flex: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo{
    width: 300px;
    height: auto;
    float: left;
    position: absolute;
    left: -50px;
    top:0px;
} 
#test-text
{
    width: 80%;
    text-align: center;
}

.big-logo{
    width: 1000px;
    height: auto;
    position: relative;
    margin-bottom: -5%;
}
p{
   margin-top: 50px; 
}
