body{
    background-color: rgb(69, 69, 185);
}

/*
Please don't modify this element
*/
.main-flex-container{
    display: flex;
    max-width: 2000px;
    height: auto;
    margin-top: 20%;
    margin: 0 auto;
    flex-direction: column;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*
Please don't modify this element
*/
#main-flex-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-item{
    padding: 15px;
    border: 5px solid #adecbf;
    border-radius: 15px; 
    margin: 85px 0 0;
    color: white;
}

.flex-item2{
    padding: 15px;
    border: 5px solid #adecbf;
    border-radius: 15px;
    color: white;
    margin-top: 50px;
}

.navbar{
    margin: 0 auto;
    width: 80%;
    float: right;
    background-color: #d5d5d5;
}

header a{
    color: black;
    }

header{
    background-color: #8a93f8;
    height: 60px;
    display: flex;
    margin: -10px -10px 0px -10px;
    }

header::after{
    content: '';
    display: table;
    clear: both;
    }

nav ul{
    margin: 0 auto;
    padding-bottom: 2px;
    list-style: none;
    }
    
nav li{
    display: inline-block;
    padding-top: 10px;
    flex-direction: row;
    margin-top: 10px;
    position: relative;
    }

#Tab a:hover{
    background-color: #ffffff;
    border-radius: 80% 80% 0% 0%;
}

#Tab a{
    width: 100%;
    padding: 15px 55px 22px 55px;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}

/*
The Id Contnent_header will set whatever the Id associated with
into a rectangle with curved edges.
Sould be places before main content
*/
.content-header{
    position: absolute;
    border: 5px solid black;
    border-radius: 30px;
    background-color: white;
    float: left;
    Width: 35%;
    height: 8%;
    left: 20%;
} 

.body-content{
    border: 5px solid black;
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color: #c3bfff;
    margin-top: 40px;
}

.content-spacing{
    margin-top: 50px;
}
#diegoimg{
    height: 150px;
    width: 110px;
    border: 5px solid black;
    border-radius: 15px;
    float: left;
    margin-right: 20px;
}

#ethanimg{
    height: 150px;
    width: 110px;
    border: 5px solid black;
    border-radius: 15px;
    float: right;
    margin-left: 20px;
    margin-top: 60px;
}

/*
This class is used to help test box alignment and size
*/
.test-box{
    background-color: red;
}